@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');

.image {
    width: 100%;
    height: 100%;
}

.logo {
    width: 50%;
    margin: auto;
    display: flex;
}

.image-character {
    max-height: 300px;
    margin:initial;
    display: block;
    text-align: center;
}

.image-conteiner {
    height: 300px;
}

body {
    background-color: black;
    color: white;
    width: 70%;
    margin: auto;
    font-family: "Kanit";
}

.title-character {
    font-weight: 600;
    font-size: larger;
    padding-top: 10px;
    color: #f2ff00;
}

.text-bold {
    font-weight: 600;
}

.text-bold:hover {
    transform: scale(1.1);
}

.text-color {
    color: #f2ff00;
    font-weight: 600;
}

.text-title {
    font-weight: 600;
    font-size: larger;
}

.text-capitalize {
    text-transform: capitalize;
}

.min-size {
    min-height: 600px;
    width: 300px;
}